<?xml version="1.0" encoding="utf-8"?>

<plugin
    id="cordova-plugin-open-folder"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>OpenFolder</name>

    <description>
        Cordova plugin for opening the Android system folder picker.
    </description>

    <license>MIT</license>

    <js-module
        src="www/openfolder.js"
        name="openFolder">

        <clobbers target="cordova.plugins.openFolder" />

    </js-module>

    <platform name="android">

        <source-file
            src="src/android/OpenFolder.java"
            target-dir="src/com/zwirny/openfolder" />

    </platform>

</plugin>